<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bitcloud</title>

  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Meta tags for improve SEO -->
  <meta name="description"
        content="Bitcloud is an open source project striving to create free software enabling the creation of a new form of darknet and cryptocurrency."/>
  <meta name="robots" content="all"/>

  <!-- Facebook -->
  <meta property="og:title" content="Bitcloud"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image"
        content="https://lh3.googleusercontent.com/-p61aGuqthdI/Uu2VSwWu58I/AAAAAAAAA4k/mt8zh-tyuXM/bitcloud.jpg"/>
  <meta property="og:description"
        content="Bitcloud is an open source project striving to create free software enabling the creation of a new form of darknet and cryptocurrency."/>

  <!-- Twitter -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="Bitcloud"/>
  <meta name="twitter:description"
        content="Bitcloud is an open source project striving to create free software enabling the creation of a new form of darknet and cryptocurrency."/>
  <meta name="twitter:image"
        content="https://lh3.googleusercontent.com/-p61aGuqthdI/Uu2VSwWu58I/AAAAAAAAA4k/mt8zh-tyuXM/bitcloud.jpg"/>

  <!-- Dublin Core -->
  <meta name="DC.Title" content="Bitcloud">
  <meta name="DC.Creator" content="Bitcloud">
  <meta name="DC.Description"
        content="Bitcloud is an open source project striving to create free software enabling the creation of a new form of darknet and cryptocurrency.">
  <meta name="DC.Publisher" content="Bitcloud">
  <meta name="DC.Contributor" content="Bitcloud">
  <meta name="DC.Date" content="2014">
  <meta name="DC.Format" content="html">
  <meta name="DC.Language" content="en">
  <meta name="DC.Rights" content="Bitcloud">

</head>
<body>

<%= partial 'layouts/header' %>

<%= yield %>

<%= javascript_include_tag 'application' %>
</body>
</html>